@font-face {
    font-family: 'luckiest_guyregular';
    src: url('luckiestguy-webfont.eot');
    src: url('luckiestguy-webfont.eot?#iefix') format('embedded-opentype'),
    url('luckiestguy-webfont.woff2') format('woff2'),
    url('luckiestguy-webfont.woff') format('woff'),
    url('luckiestguy-webfont.ttf') format('truetype'),
    url('luckiestguy-webfont.svg#luckiest_guyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
circle{
    fill: transparent;
    stroke:#008B6F ;
    stroke-width:7;
}
line{
    stroke:#00392D;
    stroke-width:5;
    stroke-linecap: round;
}
polygon{
    fill:#008B6F;
    stroke:#00392D;
    stroke-width:2;
}
text{
    font-family:'luckiest_guyregular';
    font-size: 60px;
    fill:#F6F7F3;
    stroke:#00392D;
    stroke-width:3;
    text-anchor:middle;
}
svg{
    width: 50%;
    height: auto;
}
/* reprenez ici votre feuille de style de l'exercie n3-02-logo2-transforms, nous allons la compéter */
/*
Ajoutez les règles de style nécessaires pour rendre le SVG responsive
*/