/* Reprenez la feuille de style de l’exercice n2-02-animated-phone, nous allons la compléter pour rendre le téléphone responsive */
circle{
    animation: animation 2s infinite;
    transform-origin: center;
}
@keyframes animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
svg{
    width: 50%;
    height: auto;
}